#footer {
  /* background: transparent !important; */
  background: linear-gradient(to bottom right, rgb(168, 218, 243), rgb(255, 217, 223)) !important;
  font-size: 20px !important;
}

.aplayer .aplayer-lrc {
  height: 40px !important;
}

.aplayer .aplayer-lrc p {
  color: pink !important;
  font-size: 16px !important;
  min-height: 16px !important;
}

.aplayer .aplayer-lrc p.aplayer-lrc-current {
  min-height: 20px !important;
  line-height: 23px !important;
  font-size: 20px !important;
}

/* 头像 */
.avatar-img {
  width: 90px !important;
  height: 110px !important;
  border-radius: 20px !important;

}



/* 一级菜单居中 */
#nav .menus_items {
  /* display: inline; 这个带不带都可以，本来就是inline */
  position: absolute !important;
  width: fit-content !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

/* 去除导航栏选项中底下的蓝条 */
#nav ::after {
  background-color: transparent !important;
}

/* 导航栏菜单鼠标移入字体放大 */
#nav .menus_item:hover,
#nav #search-button:hover {
  font-size: 28px !important;
}